<%= render 'info' %>
<p><%= link_to 'Edit', '/profile/edit' %></p>
<p><%= link_to 'Change Password', '/profile/edit_password' %></p>

<br>

<p>Now, you may be asking yourself: "Why did I log in?  What purpose does this serve?"</p>

<p>To be entirely transparent, this truly is just to act as an example of a hand-made log in.</p>
