/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');

 h1, h2, h3, h4, h5, h6 {
   font-family: 'Roboto Slab', serif;
 }

 p, body {
   font-family: 'Raleway', sans-serif;

 }

 .first-flex {
   display: flex;
   justify-content: space-between;
   width: 95vw;
   height: 40vh;
   align-items: center;
   padding: 2%
 }

 .developer-name {

 }

 .icons {
   display: flex;
   justify-content: flex-start;
 }

 .icons i {
   padding-right: 10px;
 }

 .card {
   height: 270px;
   width: 200px;
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .profile_image {
   height: 270px;
   width: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 @media only screen and (max-width: 600px) {
   .first-flex {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
   }

   .icons {
     justify-content: center;
   }
 }
